@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-color: #000000;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #0e0e0e55, #0e0e0e );

  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
:root {

  --hue: 180;


  --color-bg:	hsl(var(--hue) 29% 17%);
  --color-bg-variant: hsl(var(--hue) 42% 30%);
  --color-primary: 	hsl(var(--hue) 100% 65%);
  --color-primary-variant: hsla(var(--hue) 100% 65% 0.4);
  --color-white: 	hsl(0, 0%, 100%);
  --color-light: hsla(0, 0%, 100%, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
/*   ====================== ESTILOS GERAIS */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;

}
section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}
section >h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*  ================ MEDIA QUERIES ( MEDIUM DEVICES ) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
/*  ================ MEDIA QUERIES ( SMALL DEVICES ) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
.divider1 {
  width: var(--container-width-lg);
  margin: auto;
  height: 2px;
  background: linear-gradient(45deg, var(--color-primary), transparent);
  margin-block: 6rem;
}
.divider2 {
  width: var(--container-width-lg);
  margin: auto;
  height: 2px;
  background: linear-gradient(45deg, transparent, var(--color-primary));
  margin-block: 6rem;
}